<div class="page-header">
    <h1>Ladda upp bakgrundsbild</h1>
</div>

<form name="createCalendar" class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="calendarYearSelect">Ange vilket år som kalendern ska gälla för:</label>
                <select class="form-control" id="calendarYearSelect"
                        ng-model="calendar.year"
                        ng-options="option.value as option.name for option in calendarYears"></select>
            </div>
            <div class="form-group">
                <label for="calendarName" class="control-label">Namn:</label>
                <input type="text" class="form-control" id="calendarName" placeholder="Ej aktiv" disabled ng-model="calendar.Name">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="calendarImage">Ange kalenderårets bakrundsbild:</label>
                <div class="panel panel-primary">
                    <div class="panel-heading">(max 500 kB)</div>
                    <div class="panel-body">
                        <div ngf-drop ngf-select ng-model="calendar.imageFile" id="calendarImage"
                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" ngf-max-size="500KB"
                             accept="image/*,application/pdf"
                             ngf-pattern="'image/*'">
                            <p ng-if="!calendar.imageFile">Klicka här (eller dra en bild hit)!</p>
                            <img ng-if="calendar.imageFile" ngf-src="calendar.imageFile" ngf-resize="{quality: 0.4}" class="img-thumbnail" />
                        </div>
                        <div ngf-no-file-drop>Din webbläsare saknar stöd för Drag'n Drop. Klicka här istället!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="button" class="btn btn-success" ng-click="UploadCalendar()" ng-disabled="createCalendar.$invalid" value="Ladda upp" />
            </div>
        </div>
    </div>
</form>