<div ng-controller="createCalendarController">
    <h2>Skapa kalender</h2>
    <h5>{{Message}}</h5>
    
    <form name="createCalendar" ng-submit="createCalendar()" class="form-horizontal">
        <div class="form-group">
            <label for="calendarYearSelect">Ange vilket år som kalendern ska gälla för:</label>
            <select class="form-control" id="calendarYearSelect"
                    ng-model="selectedYear" 
                    ng-options="option.value as option.name for option in calendarYears">
            </select>
        </div>
        <div class="form-group">
            <label for="calendarYearSelect">Ange kalenderårets bakrundsbild:</label>
            <input type="file" name="file" ng-files="getTheFiles($files)" required/>
        </div>

        <div class="form-group">
            <input type="button" class="btn btn-success" ng-click="uploadCalendar()" ng-disabled="createCalendar.$invalid" value="Ladda upp" />
        </div>
    </form>

    <!--<form role="form" ng-submit="assignUsersToCalendar()" class="form-inline">
        <div style="overflow-y:scroll; height: 300px;">
            <div id="outerBox" style="display: flex; justify-content: space-around;" data-ng-repeat="slot in slots">
                <div id="leftBox" style="">
                    <div class="form-group">
                        <h1>{{slot.number}}</h1>
                    </div>
                </div>
                <div id="rightBox" style="">
                    <div class="form-group">
                        <label class="custom-file">
                            <input type="file" id="imageFile" class="custom-file-input">
                            <span class="custom-file-control"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Lösenord</label>
                        <input type="password" class="form-control" id="userPassword" placeholder="Lösenord" ng-model="assignUsersToCalendarForm.password">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>-->

</div>