<div>
    <h2>Skapa kalender</h2>
    <h5>{{Message}}</h5>
    
    <form name="createCalendar" class="form-horizontal">
        <div class="form-group">
            <label for="calendarYearSelect">Ange vilket år som kalendern ska gälla för:</label>
            <select class="form-control" id="calendarYearSelect"
                    ng-model="selectedYear" 
                    ng-options="option.value as option.name for option in calendarYears">
            </select>
        </div>
        <div class="form-group">
            <label for="calendarYearSelect">Ange kalenderårets bakrundsbild:</label>
            <input type="file" name="file" ng-files="getTheFiles($files)" required/>
        </div>

        <div class="form-group">
            <input type="button" class="btn btn-success" ng-click="UploadCalendar()" ng-disabled="createCalendar.$invalid" value="Ladda upp" />
        </div>
    </form>
    
</div>