<div class="containerHelp">
    <div class="page-header">
        <h1>Ladda upp bakgrundsbild - Hjälp</h1>
    </div>
    <p class="text-justify">Här ska du välja en bakgrundsbild. Varför inte en mysig familjebild från året då det var fullständigt snökaos? En snögubbe? Bara fantasin sätter gränser!</p>
    <div class="row">
        <div class="col-sm-12">
            <figure>
                <img src="/angularJSApp/images/calendarBackgrounds/snow-man.jpg" class="img-responsive img-rounded center-block" />
                <figcaption><i>Varför inte en snögubbe?</i></figcaption>
            </figure>
        </div>
    </div>

    <div class="alert alert-warning">
        <p class="text-justify"><strong>OBS!</strong> Ladda inte upp bilder på någon som inte uttryckligen har gett sitt tillstånd till det. Ladda inte heller upp bilder på värdesaker eller stöldbegärligt gods! Du är själv juridiskt ansvarig för bilder som du laddar upp!</p>
    </div>
    
    <div class="alert alert-info">
        <p class="text-justify"><strong>Tänk på!</strong> Stora bildfiler (filer som har många megabyte) måste komprimeras eftersom en bild som laddas upp får vara max 500 kB. Det finns gott om gratisprogram att komprimera med på nätet men ett som rekommenderas är <a href="https://sourceforge.net/projects/caesium/files/latest/download">Caesium - Image Compressor</a>.
    </div>
</div>