<div class="containerHelp">
    <div class="page-header">
        <h1>Ladda upp luckor - Hjälp</h1>
    </div>
    <p class="text-justify">Sådär, nu är det bara att sätta igång! Men vad ska finnas i luckorna?</p>
    <p class="text-justify">Det kan vara en bild som har en anknytning till något som gör den som ska öppna luckan glad. En släkting? En kompis? Ett djur? Kanske har bilden någon anknytning till det datum då luckan får öppnas? Lucia? Lille julafton? Bara fantasin sätter gränser!</p>
    <div class="alert alert-warning">
        <p class="text-justify"><strong>OBS!</strong> Ladda inte upp bilder på någon som inte uttryckligen har gett sitt tillstånd till det. Ladda inte heller upp bilder på värdesaker eller stöldbegärligt gods! Du är själv juridiskt ansvarig för bilder som du laddar upp!</p>
    </div>
    <h2>Ladda upp 24 bilder</h2>
    <div class="row">
        <div class="col-sm-5">
            <p class="text-justify">Till varje lucka ska det finnas en bild. Det är frivilligt med text.</p>
        </div>
        <div class="col-sm-7">
            <figure>
                <img src="/angularJSApp/images/hideawayExamples/9.JPG" class="img-responsive img-rounded" />
                <figcaption><i>"...om du tror dig hinna, kommer du mig finna, på ett ställe där det nog inte kan brinna..."</i></figcaption>
            </figure>
        </div>
    </div>
    <h2>Skattjakt?</h2>
    <div class="row">
        <div class="col-sm-7">
            <p class="text-justify">Vill man garanterat få upp barnen ur sängarna på morgonen så kan man göra det ännu roligare och fixa skattjakt! Vem gillar inte det? En riktig win-wingrej eller hur? Tanken är att gömma 24 små paket på lite olika platser hemma. Gärna fullt synliga men ändå där man liksom inte riktigt tänker på att de finns Därefter fotograferar man gömställena med mobilen och laddar upp bilderna tillsammans med en liten (frivillig) beskrivning om var paketen ligger till kalendern.</p>
            <p class="text-justify">Om den som ska öppna kalendern inte kan läsa är det viktigt att bilden är lite extra tydlig.</p>
        </div>
        <div class="col-sm-5">
            <figure>
                <img src="/angularJSApp/images/hideawayExamples/9.JPG" class="img-responsive img-circle" />
                <figcaption><i>"...om du tror dig hinna, kommer du mig finna, på ett ställe där det nog inte kan brinna..."</i></figcaption>
            </figure>
        </div>
    </div>

    <h3>Här är ett förslag på hur man kan gå till väga</h3>
    <ol>
        <li>Fixa fram 24 saker att ge bort. Om du saknar idéer så är <a href="http://se.flyingtiger.com/sv-SE/" target="_blank">TGR</a>-butikerna roliga inspirationskällor. Ja, godisaffärer eller nästan vad som helst funkar självklart. Det behöver inte vara så dyrt!</li>
        <li>Slå in sakerna i fint omslagspapper. Om du vill hänga upp paketen kan du även knyta (eller tejpa) fast ett snöre.</li>
        <li>Lägg alla paket i en påse. Utrusta dig med en mobilkamera, ett anteckningsblock och en penna.</li>
        <li>Tag med påsen och leta upp en plats att gömma ett paket på. Häng (eller lägg) paketet där, skriv ner en beskrivning av platsen och fotografera paketen i/på gömstället. Tänk på att lite mer än själva paketen måste synas om det inte ska bli för svårt att förstå var paketet finns. Upprepa för alla paketen.</li>
        <li>När alla paketen är gömda och fotograferade är det dags att föra över bilderna till datorn. För över alla 24 bilder och lägg dem i en mapp!</li>
        <li>Komprimera stora bildfiler (filer som har många megabyte) eftersom en bild som laddas upp till en lucka får vara max 500 kB. Det finns gott om gratisprogram att komprimera med på nätet men ett som rekommenderas är <a href="https://sourceforge.net/projects/caesium/files/latest/download">Caesium - Image Compressor</a>.</li>
        <li>Fyll i uppladdningsformuläret här invid.</li>
    </ol>
    <h3>Förslag på gömställen</h3>
    <div class="row">
        <div class="col-sm-3">
            <figure>
                <img src="/angularJSApp/images/hideawayExamples/4.JPG" class="img-responsive img-thumbnail" />
                <figcaption><i>"Under vasken kan man hitta mycke. Öppna o slit mig i stycke!"</i></figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="/angularJSApp/images/hideawayExamples/24.JPG" class="img-responsive img-thumbnail" />
                <figcaption><i>"Tänd en lampa - ha det så kul, fly från mörkret - ha en God Jul!"</i></figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="/angularJSApp/images/hideawayExamples/15.JPG" class="img-responsive img-thumbnail" />
                <figcaption><i>"...på en plats i ett kök, kan man hitta prickar med lite bök..."</i></figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure>
                <img src="/angularJSApp/images/hideawayExamples/12.JPG" class="img-responsive img-thumbnail" />
                <figcaption><i>"Dags att vädra garderoben kanske?"</i></figcaption>
            </figure>
        </div>
    </div>
</div>