<div class="containerForm">
    <div class="page-header">
        <h1>Uppladdningsformulär för luckor</h1>
    </div>

    <form role="form" class="form-horizontal">

        <div class="panel panel-success" data-ng-repeat="slot in slots">
            <div class="panel-heading">Lucka: {{slot.slotNumber}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">(max 500 kB)</div>
                                <div class="panel-body">
                                    <div ngf-drop ngf-select ng-model="slot.imageFile"
                                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" ngf-max-size="500KB"
                                         accept="image/*,application/pdf"
                                         ngf-pattern="'image/*'">
                                        <p ng-if="!slot.imageFile">Klicka här (eller dra en bild hit)!</p>
                                        <img ng-if="slot.imageFile" ngf-src="slot.imageFile" ngf-resize="{quality: 0.4}" class="img-thumbnail" />
                                    </div>
                                    <div ngf-no-file-drop>Din webbläsare saknar stöd för Drag'n Drop. Klicka här istället!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="slotClue">Text i lucka (frivilligt):</label>
                            <input type="text" class="form-control" id="slotClue" placeholder="Text" ng-model="slot.slotMessage">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <input type="button" class="btn btn-success" ng-click="UploadSlots()" value="Ladda upp" />
            </div>
        </div>
    </form>
</div>
