html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    background: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 100%;
        padding: 7px 15px;
        width: auto;
    }

.container {
    background-image: url("/angularJSApp/images/calendarBackgrounds/paper-background.jpg");
    max-height: calc(100vh - 130px);
    height: calc(100vh - 130px);
}

.containerHelp {
    height: calc(100vh - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.containerForm {
    height: calc(100vh - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
}

    .containerHelp::-webkit-scrollbar, .containerForm::-webkit-scrollbar {
        display: none;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
}

.svg-container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: calc(100vh - 130px);
    display: block;
}

    .svg-container > svg > g:hover {
        cursor: pointer;
    }

.modal-dialog {
    width: 90vw;
}

.modal-content {
    padding: 5% 10%;
    background-color: transparent;
    background-image: url("/angularJSApp/images/calendarBackgrounds/pergament01.gif");
    background-size: 100% 100%;
    border: 0 !important;
    box-shadow: none;
}

.modal-content img {
    max-height: 50vh;
}