html {
  position: relative;
  min-height: 100%;
    background: green;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.container {
    border: 1px blue solid;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
.svg-container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    
    height: calc(100vh - 130px);
    display: block;
    border: 1px red solid;
}

.slotImageOuterBox {
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background: darkseagreen;
    padding: 20px;
    margin-bottom: 10px;
}


.slotImageFormGroup {
    background: mediumaquamarine;
    border: 5px dashed cadetblue;
    width: 200px;
    height: 65px;
    border-radius: 25px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.slotImagePreview {
    background: mediumaquamarine;
    min-height: 50px;
    max-width: 150px;
    height: auto;
    border-radius: 25px;
}
