<form name="outerForm" ng-submit="RegisterStandardUsers()"> <!--http://stackoverflow.com/questions/14378401/dynamic-validation-and-name-in-a-form-with-angularjs#answer-14379763-->


    <fieldset data-ng-repeat="calendarUser in calendarUsers">
        <ng-form name="innerForm">
            <div class="form-group">
                <label for="userName">Namn på kalenderanvändare</label>
                <input type="text" class="form-control" id="userName" placeholder="Användare" ng-model="calendarUser.userName" />
            </div>
            <div class="form-group">
                <label for="userPassword">Password</label>
                <input type="password" class="form-control" id="userPassword" placeholder="Lösenord" ng-model="calendarUser.userPassword">
            </div>
        </ng-form>
    </fieldset>
    <button class="addfields" ng-click="AddNewUser()">+ Användare</button>
    <input type="submit" ng-disabled="outerForm.$invalid" />
</form>