<div>
    <h2>Calendar Page</h2>
    
    <div class="scaling-svg-container"
         style="/*padding-bottom: 64% 100% * 1108/1708 */">
        <svg xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             version="1.1"
             x="0"
             y="0"
             viewBox="0 0 1708 1108"
             preserveAspectRatio="none"
             class="scaling-svg">
            <!-- SVG content -->
            <image x="0" y="0" width="1708px" height="1108px"
                   ng-href="{{ 'data:' + calendar.ContentType + ';base64,' + calendar.ContentAsBase64 }}" xlink:href="" />
            
           

            <g id="slotNo_19" transform="translate(100,150)" ng-click="OpenSlot(19)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">19</text>
            </g>
            <g id="slotNo_8" transform="translate(80,550)" ng-click="OpenSlot(8)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">8</text>
            </g>
            <g id="slotNo_5" transform="translate(150,800)" ng-click="OpenSlot(5)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">5</text>
            </g>
            <g id="slotNo_2" transform="translate(200,1000)" ng-click="OpenSlot(2)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">2</text>
            </g>
            <g id="slotNo_12" transform="translate(300,250)" ng-click="OpenSlot(12)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">12</text>
            </g>
            <g id="slotNo_17" transform="translate(400,650)" ng-click="OpenSlot(17)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">17</text>
            </g>
            <g id="slotNo_3" transform="translate(550,950)" ng-click="OpenSlot(3)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">3</text>
            </g>
            <g id="slotNo_10" transform="translate(600,400)" ng-click="OpenSlot(10)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">10</text>
            </g>
            <g id="slotNo_21" transform="translate(650,550)" ng-click="OpenSlot(21)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">21</text>
            </g>
            <g id="slotNo_6" transform="translate(700,750)" ng-click="OpenSlot(6)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">6</text>
            </g>
            <g id="slotNo_22" transform="translate(750,1000)" ng-click="OpenSlot(22)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">22</text>
            </g>
            <g id="slotNo_16" transform="translate(900,500)" ng-click="OpenSlot(16)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">16</text>
            </g>
            <g id="slotNo_4" transform="translate(1000,950)" ng-click="OpenSlot(4)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">4</text>
            </g>
            <g id="slotNo_11" transform="translate(1150,50)" ng-click="OpenSlot(11)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">11</text>
            </g>
            <g id="slotNo_20" transform="translate(1100,350)" ng-click="OpenSlot(20)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">20</text>
            </g>
            <g id="slotNo_7" transform="translate(1100,650)" ng-click="OpenSlot(7)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">7</text>
            </g>
            <g id="slotNo_15" transform="translate(1250,750)" ng-click="OpenSlot(15)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">15</text>
            </g>
            <g id="slotNo_14" transform="translate(1200,1000)" ng-click="OpenSlot(14)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">14</text>
            </g>
            <g id="slotNo_9" transform="translate(1300,300)" ng-click="OpenSlot(9)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">9</text>
            </g>
            <g id="slotNo_23" transform="translate(1400,650)" ng-click="OpenSlot(23)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">23</text>
            </g>
            <g id="slotNo_1" transform="translate(1450,900)" ng-click="OpenSlot(1)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="35" y="70" font-family="Verdana" font-size="55" fill="dark-green">1</text>
            </g>
            <g id="slotNo_18" transform="translate(1500,100)" ng-click="OpenSlot(18)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">18</text>
            </g>
            <g id="slotNo_13" transform="translate(1550,500)" ng-click="OpenSlot(13)">
                <rect x="0" y="0" width="100" height="100" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="15" y="70" font-family="Verdana" font-size="55" fill="dark-green">13</text>
            </g>
            <g id="slotNo_24" transform="translate(250,400)" ng-click="OpenSlot(24)">
                <image x="0" y="0" width="200px" height="200px"
                       xlink:href='@Url.Content("~/Content/Images/4623968305.gif")' />
                <rect x="0" y="0" width="200" height="200" style="fill: green; stroke: red; stroke-width: 5; fill-opacity: 0.2; stroke-opacity: 0.5"></rect>
                <text x="65" y="115" font-family="Verdana" font-size="55" fill="dark-green">24</text>
            </g>
        </svg>
    </div>
</div>