<div class="row">
    <div class="col-sm-12">
        <figure>
            <img src="/angularJSApp/images/calendar-demo-advertisement.jpg" class="img-responsive img-thumbnail center-block" />
        </figure>
    </div>
</div>

<p class="text-justify">Logga in om du redan är registrerad användare, eller registrera dig för att skapa en ny kalender.</p>
<a ui-sref="stateRegisterUserAdministrator" class="btn btn-info btn-lg">Registrera</a>
<a ui-sref="stateLogin" class="btn btn-default btn-lg">Logga in</a>