<div class="containerHelp">

    <div class="row">
        <div class="col-sm-12">
            <figure>
                <img src="/angularJSApp/images/snowman-waving.gif" class="img-responsive center-block" />
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>Nyfikna besökare kan logga in med</p>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="userName" class="control-label">Namn på kalenderanvändare:</label>
                                <input type="text" class="form-control" id="userName" placeholder="test" disabled>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="userPassword" class="control-label">Lösenord:</label>
                                <input type="text" class="form-control" id="userPassword" placeholder="test" disabled>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>