<div class="containerForm">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <figure>
                <img src="/angularJSApp/images/calendar-demo.jpg" class="img-responsive img-thumbnail center-block" />
                <figcaption>Adventskalendern™ 2016</figcaption>
            </figure>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <a ui-sref="stateRegisterUserAdministrator" class="btn btn-info btn-lg">Registrera</a>
            <a ui-sref="stateLogin" class="btn btn-default btn-lg">Logga in</a>
        </div>
    </div>
</div>