<div class="containerHelp">
    <div class="clearfix">
        <div class="pull-left">
            <figure>
                <img src="/angularJSApp/images/cute-bells.gif" class="img-responsive" />
            </figure>
        </div>
        <div class="page-header">
            <h1>Nu..</h1>
        </div>
    </div>

    <div class="alert alert-info">
        <p class="text-justify">Skriv in ditt användarnamn och ditt lösenord!</p>
    </div>

    <div class="alert alert-info">
        <p class="text-justify">Demo: Logga in med <i>Kalenderanvändare: <b>test</b></i>, <i>Lösenord: <b>test</b></i></p>
    </div>

</div>