<div class="containerHelp">
    <div class="clearfix">
        <div class="pull-left">
            <figure>
                <img src="/angularJSApp/images/cute-bells.gif" class="img-responsive" />
            </figure>
        </div>
        <div class="page-header">
            <h1>Nu..</h1>
        </div>
    </div>

    <p class="text-justify">Nu ska du bara logga in först...</p>
    <div class="alert alert-info">
        <p class="text-justify">Skriv in ditt användarnamn och ditt lösenord!</p>
    </div>
</div>