<div class="page-header">
    <h1>Om...</h1>
</div>

<h2>Följande externa AngularJS-kodkällor har använts</h2>
<ul>
    <li><a href="https://github.com/danialfarid/ng-file-upload">ng-file-upload</a></li>
    <li><a href="http://stackoverflow.com/questions/13781685/angularjs-ng-src-equivalent-for-background-imageurl#answer-13782311">back-img</a></li>
    <li><a href="http://www.pktiwari.com/upload_a_file_using_angularjs_to_-net_web_api/">back-img</a></li>
</ul>

<h2>Bakgrunder</h2>
<ul>
    <li><a href="http://www.myfreetextures.com/">My free textures</a></li>
</ul>
