
<style>
    ul.menu {
        list-style: none;
        padding: 10px;
        margin: 0px;
    }

        ul.menu li {
            float: left;
            margin: 1px;
        }

            ul.menu li a {
                float: left;
                background-color: #f3f3f3;
                display: inline-block;
                padding: 5px 20px;
            }

                ul.menu li a:hover {
                    background-color: #e4e4e4;
                }
</style>

<div>
    <ul class="menu">
        <li><a ui-sref="stateAbout">Om</a></li>
        <li><a ui-sref="stateAssignUsersToCalendar">Kalenderns användare</a></li>
        <li><a ui-sref="stateCalendar">Kalender</a></li>
        <li><a ui-sref="stateCreateCalendar">Skapa kalenderbas</a></li>
        <li><a ui-sref="stateUploadSlotsToCalendar">Ladda upp luckor</a></li>
        <li><a ui-sref="stateLogin">Logga in</a></li>
        <li><a ui-sref="stateLogout">Logga ut</a></li>
        <li><a ui-sref="stateRegisterUserAdministrator">Skapa kalenderadministratör</a></li>
        <li><a ui-sref="stateInvalid">Invalid Url</a></li>
    </ul>
</div>

<div style="clear: both;"></div>

<span class="label label-success" ng-if="loggedIn()">Logged In</span>

<div class="container mainContent">
    <div class="row">
        <div class="col-md-6">
            <div ui-view="containerOne"></div>
        </div>
        <div class="col-md-6">
            <div ui-view="containerTwo"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ui-view="containerThree"></div>
        </div>
    </div>
</div>
