@using System.Security.Policy
@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1>Hemsamariten</h1>
                <p class="lead">Välkommen till Hemsamariten&trade;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Login", "Account")" id="btnLogin" class="btn btn-primary btn-lg btn-block">Logga in</a>
                <br/>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Register", "Account")" id="btnRegister" class="btn btn-primary btn-lg btn-block">Registrera</a>
            </div>
        </div>
    </div>
}
else
{

}