@{
    ViewBag.Title = "Part9";
}
<style>
    ul.menu {
        list-style: none;
        padding: 10px;
        margin: 0px;
    }

        ul.menu li {
            float: left;
            margin: 1px;
        }

            ul.menu li a {
                float: left;
                background-color: #f3f3f3;
                display: inline-block;
                padding: 5px 20px;
            }

                ul.menu li a:hover {
                    background-color: #e4e4e4;
                }
</style>

<div>
    <ul class="menu">
        <li><a href="#!/about">Om</a></li>
        <li><a href="#!/assignUsersToCalendar">Kalenderns användare</a></li>
        <li><a href="#!/calendar">Kalender</a></li>
        <li><a href="#!/createCalendar">Skapa kalender</a></li>
        <li><a href="#!/error">Fel</a></li>
        <li><a href="#!/login">Logga in</a></li>
        <li><a href="#!/logout">Logga ut</a></li>
        <li><a href="#!/register">Registrera ny användare</a></li>
        <li><a href="#!/invalid">Invalid Url</a></li>
    </ul>
</div>
<div style="padding:0 10px; margin:10px; border:10px solid #f3f3f3; clear:both;">
    <ng-view></ng-view>
</div>
@section Scripts{
    <script src="~/angularJSApp/app.module.js"></script>
    <script src="~/angularJSApp/app.routes.js"></script>

    <script src="~/angularJSApp/components/about/aboutController.js"></script>
    <script src="~/angularJSApp/components/assignUsersToCalendar/assignUsersToCalendarController.js"></script>
    <script src="~/angularJSApp/components/calendar/calendarController.js"></script>
    <script src="~/angularJSApp/components/createCalendar/createCalendarController.js"></script>
    <script src="~/angularJSApp/components/error/errorController.js"></script>
    <script src="~/angularJSApp/components/login/loginController.js"></script>
    <script src="~/angularJSApp/components/logout/logoutController.js"></script>
    <script src="~/angularJSApp/components/register/registerController.js"></script>
    <script src="~/angularJSApp/components/welcome/welcomeController.js"></script>
}