@*@using System.Security.Policy
@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1>Hemsamariten</h1>
                <p class="lead">Välkommen till Hemsamariten&trade;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Login", "Account")" id="btnLogin" class="btn btn-primary btn-lg btn-block">Logga in</a>
                <br/>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Register", "Account")" id="btnRegister" class="btn btn-primary btn-lg btn-block">Registrera</a>
            </div>
        </div>
    </div>
}
else
{

}*@

<style>
    ul.menu {
        list-style: none;
        padding: 10px;
        margin: 0px;
    }

        ul.menu li {
            float: left;
            margin: 1px;
        }

            ul.menu li a {
                float: left;
                background-color: #f3f3f3;
                display: inline-block;
                padding: 5px 20px;
            }

                ul.menu li a:hover {
                    background-color: #e4e4e4;
                }
</style>

<div>
    <ul class="menu">
        <li><a ui-sref="stateAbout">Om</a></li>
        <li><a ui-sref="stateAssignUsersToCalendar">Kalenderns användare</a></li>
        <li><a ui-sref="stateCalendar">Kalender</a></li>
        <li><a ui-sref="stateCreateCalendar">Skapa kalender</a></li>
        <li><a ui-sref="stateError">Fel</a></li>
        <li><a ui-sref="stateLogin">Logga in</a></li>
        <li><a ui-sref="stateLogout">Logga ut</a></li>
        <li><a ui-sref="stateRegister">Registrera ny användare</a></li>
        <li><a ui-sref="stateInvalid">Invalid Url</a></li>
    </ul>
</div>
<div class="container mainContent">
    <div class="row">
        <div class="col-md-6">
            <div ui-view="containerOne"></div>
        </div>
        <div class="col-md-6">
            <div ui-view="containerTwo"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/angularJSApp/app.module.js"></script>
    @Scripts.Render("~/bundles/angular/shared")
    <script src="~/angularJSApp/app.routes.js"></script>

    <script src="~/angularJSApp/components/about/AboutController.js"></script>
    <script src="~/angularJSApp/components/assignUsersToCalendar/AssignUsersToCalendarController.js"></script>
    <script src="~/angularJSApp/components/calendar/CalendarController.js"></script>
    <script src="~/angularJSApp/components/createCalendar/CreateCalendarController.js"></script>
    <script src="~/angularJSApp/components/error/ErrorController.js"></script>
    <script src="~/angularJSApp/components/empty/emptyController.js"></script>
    <script src="~/angularJSApp/components/login/LoginController.js"></script>
    <script src="~/angularJSApp/components/logout/LogoutController.js"></script>
    <script src="~/angularJSApp/components/register/RegisterController.js"></script>
    <script src="~/angularJSApp/components/welcome/WelcomeController.js"></script>
}