<div class="containerHelp">
    <div class="clearfix">
        <div class="pull-left">
            <figure>
                <img src="/angularJSApp/images/cute-bells.gif" class="img-responsive" />
            </figure>
        </div>
        <div class="page-header">
            <h1>Registrera</h1>
        </div>
    </div>

    <p class="text-justify">Välkommen som administratör till Adventskalendern™.</p>
    <p class="text-justify">När du har registrerat dig kommer du att kunna skapa en adventskalender med egen bakgrundsbild och du bestämmer helt själv vad som ska finnas i varje lucka. </p>
    <div class="alert alert-warning">
        <p class="text-justify"><strong>OBS!</strong> Du ombeds ange din e-postadress när du registrerar dig. Lösenordet får <strong>inte</strong> vara samma som det du anger när du loggar in på din riktiga e-post!</p>
        <p class="text-justify"><i>Det sker givetvis ingen kontroll av att du inte använder samma, anledningen är säkerhetsskäl.</i></p>
    </div>
</div>