<div class="containerForm">
    <div class="page-header">
        <h1>Registrera administratör</h1>
    </div>
    <form role="form" ng-submit="RegisterUserAdministrator()" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-10 col-sm-8">
                <label for="emailAddress" class="control-label">E-postadress:</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="E-postadress" ng-model="registerUserAdministratorForm.username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-sm-8">
                <label for="password" class="control-label">Lösenord:</label>
                <input type="password" class="form-control" id="password" placeholder="Lösenord" ng-model="registerUserAdministratorForm.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-sm-8">
                <label for="password" class="control-label">Lösenordet en gång till:</label>
                <input type="password" class="form-control" id="password" placeholder="Bekräfta lösenord" ng-model="registerUserAdministratorForm.confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <p class="help-block" ng-if="registerUserAdministratorForm.errorMessage.Message">{{registerUserAdministratorForm.errorMessage.Message}}</p>
            <p class="help-block" ng-if="registerUserAdministratorForm.errorMessage.ModelState">{{registerUserAdministratorForm.errorMessage.ModelState}}</p>
        </div>
        <button type="submit" class="btn btn-info">Registrera</button>
    </form>
</div>